<div class="progress-section col-md-6">
	<div class="progress-desc col-md-12 ">
		<%= @persentage %>
	</div>
	<div class="progressbar col-md-10 " >
		<div class="contain" style="<%= "width:"+@persentage+";" %>">
			
		</div>
	</div>
</div>