<% @head_title = "第"+@question.number.to_s+"題 | " %>
<div class="row content">
	<div class="col-md-8 col-md-offset-2 title">
		<h2>
			<%= @question.number%>.
			<%= @question.content %>
		</h2>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<%= render 'questions/quiz_page_form' %>
	</div>
</div>	

