<% @head_title = @quiz.title+" | " %>
<div class="row text-center">
	<div class="col-md-12">
		<h1><%= @quiz.title %></h1>
	</div>
	<div class="col-md-12">
		<h4><%= @quiz.subtitle %></h4>
	</div>

	<div class="col-md-12" style="margin-top: 40px;">
		<%= link_to "開始測驗", quiz_page_quiz_path , class:"btn btn-default" %>
	</div>
</div>

